:root {
    --background-color: #ededed;
    --text-color: #232323;
    --accent-color: #3f5f4f;
    --highlight-color:#7b9b8a;
    --heading-text-color:#f1efe9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 /*-----Universal-----*/
body {
    font-family: 'Lora', serif;
    color: var(--text-color);
    background-color: var(--background-color);
}   

h1 {
    background-color: var(--accent-color);
    color: var(--heading-text-color);
    font-size: 1.5rem;
    padding: 15px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

h2 {
    text-align: center;
    color: var(--text-color);
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    text-decoration: underline;
}

li a {
    color: var(--text-color)
}

li a:hover {
    text-decoration: underline;
    color: var(--text-color)
}

nav a {
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover {
    text-decoration: underline;
    color: var(--accent-color)
}

.title {
    padding: 2rem;
    font-size: larger;
}
.menu {
    display: block;
	font-size: 1.5rem;
    background-color: var(--accent-color);
    color: var(--heading-text-color);
}
.navigation a {
    padding: 0 1.5rem;
}
.navigation {
    padding: 1rem;
    justify-content: space-evenly;
}
.nav {
    padding: .75rem;
    margin: .75rem;
}
#menu::before {
    color: var(--heading-text-color);
	content: "≡";
    font-size:xxx-large;
    background-color: var(--accent-color);
}
#menu {
    text-decoration: none;
    outline: none;
    border: none;
}
.linkNav {
    list-style: none;
    margin: 0 auto;
	max-width: 760px;
}

.linkNav li {
	display: none;
}

.linkNav a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: var(--heading-text-color);
	transition: 0.5s;
}

.linkNav a:hover,
.linkNav a:active {
	color: var(--text-color);
	background-color: var(--highlight-color);
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

footer {
    padding: 2rem;
    display: flex; 
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    background-color: var(--accent-color);
    color: var(--heading-text-color);
}

footer p {
    margin: 0.5rem 0;
}

footer a {
    color: white;
}

/*-----Homepage-----*/
.hero picture,
.hero img {
  width: 100%;
  height: 100%;
}

.sample p, .purpose p {
    text-indent: 50px;
}

.genres ul {
    padding: 15px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

.learn ul {
    padding: 15px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.info  {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 1100px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.genres, .sample, .learn, .purpose{
    background: white;
    border-radius: 12px;
    padding: 1rem;
    color: var(--text-color);
}

.purpose {
    margin: 1rem 1rem -1rem;
}

.layout {
    display: grid;
    grid-template-columns: 1fr;
}
.layout img {
    margin: 0 auto;
    padding: 15px;
}

.layout h2 {
    margin: 0 auto;
}

.layout p {
    margin: 0 auto;
}

.layout a {
    margin: 0 auto;
}

.layout a{
    text-align: center;
    border: none;
    background-image: linear-gradient(#7b9b8a, #37463e);
    color: #fff;
    border-radius: 6px;
    padding: 6px;
    width: 300px;
    box-shadow: 1px 1px 4px #999;
}


/*-----Sample Page-----*/
.star {
    font-size: x-large;
    margin-left: 10px;
    outline: none;
    border: none;
    box-shadow: none;
    color: darkgoldenrod;
    background-color: white;
}

.more {
    outline: none;
    border: none;
    box-shadow: none;
    background-color: white;
    color: var(--text-color);
}

.samplesList {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1rem;
}

.sample-card {
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
}

.sample-card h3, .genre {
    text-align: center;
}

.sample-header {
    padding:1rem;
    color: var(--text-color);
}

.search {
    padding: 1rem;
    font-size: large;
    font-family: 'Playfair Display', serif;
    background-color: white;
    border-radius: 12px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

select, input {
    height: 30px;
    width: 150px;
}

.more:hover {
    text-decoration: underline;
    color: var(--text-color);
}

.text{
    white-space: pre-wrap;
    line-height: 1.6;
    max-width: 65ch;        
    margin: 0 auto;
}

/*-----Contact Me-----*/

.form {
  max-width: 400px;
  margin: 2rem auto;
}

.form fieldset {
    margin: 2rem 0;
    border: none;
    padding: .5rem 2%;
}

.form legend {
    color: var(--text-color);
}

.form label {
    display: block;
    padding-top: 1rem;
}


.form input[type="text"],
.form input[type="email"]
{
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    background-color: white;
    appearance: none;
}

.form input[type="submit"] {
    border: none;
    background-image: linear-gradient(var(--highlight-color), var(--accent-color));
    color: #fff;
    border-radius: 6px;
    padding: 6px;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}

textarea {
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    height: 100px;
    background-color: white;
    appearance: none;
}

.form input:required {
    border-left: solid 4px red;
}

.form input:required:valid {
    border-left: solid 4px green;
}

.thanks {
    padding: 1.5rem;
}

.ps {
    text-align: center;
}

/*-----About Me-----*/
.about {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
    padding: 1rem;
    margin: 1rem;
}

.intro, .promise, .mission, .details, .action{
    background-color: white;
    border-radius: 12px;
    padding:1rem;
    color: var(--text-color);
    max-width: 60ch;
    margin: 0 auto;
    width: 100%;
}

.profile {
    margin: 0 auto;
}

.oath {
    text-align: center;
    background-color: white;
    border-radius: 12px;
    padding:1.5rem;
    max-width: 300px;
    margin: 0 auto;
    color: var(--text-color);
}

.profile img {
        border-radius: 12px;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

ul {
    padding: 15px;
}

@media screen and (min-width: 600px){

    /*----Homepage----*/
    .hero {
        position: relative; 
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: var(--accent-color);
        color: var(--heading-text-color);
    }
    .navigation a {
        padding: 0 1.5rem;
    }
    .navigation {
        padding: 1rem;
        justify-content: space-evenly;
    }
   #menu {
		display: none;
    }
    .linkNav li {
        display: block;
    }

    .linkNav {
        display: flex;        
        gap: 1rem;           
        align-items: center;
    }

    .purpose {
        padding: .5rem;
        position:absolute;
        bottom:20px;
        left:100px;
        right:100px;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 12px;
        color: var(--text-color);
        margin: 1rem;
    }

    .info  {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        max-width: 1100px;
        margin: 2rem auto;
        padding: 0 1rem;
    }

    .learn {
        grid-column: 1 / -1;
    }

    .genres, .sample, .learn {
        background: white;
        border-radius: 12px;
        padding: 1rem;
        color: var(--text-color);
    }

    .layout {
        grid-template-columns: 1fr 1fr;
    }

    .layout img {
        padding: 0px;
        grid-column: 2 / 3;
    }

    .layout h2 {
        grid-column: 1 / 2;
    }

    .layout ul {
        grid-column: 1/2;
    }

    .layout a {
        grid-column: 1/2;
    }

    /*-----Samples-----*/

    .samplesList {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .show {
        grid-column: 1/4;
    }

    /*-----About Me-----*/
    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 1rem;
        margin: 1rem;
        align-items: start;
    }

    .profile{
        grid-column: 1/2;
        grid-row: 1;
    }

    .intro {
        grid-column: 2/3;
    }

    .about-text {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

}