footer {
    padding: 2rem;
    display: flex; 
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    background-color: var(--primary-color);
    color: black;
}

footer p {
    margin: 0.5rem 0;
}

.images img {
  display: block;
  margin: 1rem auto;

  opacity: 0;
  background-color: black;
  transition: opacity 1s ease-in;
}

.images img.loaded {
  opacity: 1;
}

h1 {
    text-align: center;
}