body {
	font-family: "EB Garamond", Arial, serif;
}

tbody tr:nth-child(odd) {
	background-color: hsl(0, 0%, 93%, 1);
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-size: 0.85rem;
}

table {
    margin: 0 auto;
    border: thin solid black;
    box-shadow: 0 0 10px hsl(0, 0%, 93%, 1);
    border-collapse: collapse;
}

tr:first-child th, .highlight {
	background-color: black;
	color: white;
}

th, td {
	padding: 7px 15px;
	border: 1px solid black;
}

.blank{
	background-color: black;
}

th {
    background-color: rgb(46, 46, 46);
    color: white;
    font-size: larger;

}

td {
	text-align: center;
}