:root {
    --primary-color:#083314;
    --accent-color:#467cf8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main h1{
    padding: 2rem;
    display: block;
    text-align: center;
}

section h2 {
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
    display: block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

footer {
    padding: 2rem;
    display: flex; 
    justify-content: center;
    background-color: var(--primary-color);
    color: white;
}

li a {
    color: var(--accent-color);
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
	text-decoration: underline;
    color: var(--accent-color)
}

section {
    margin: 1rem;
    border: 1px solid black;
    border-radius: 15px;
}

p {
    padding: .75rem;
}

img {
    padding: .75rem;
}

/* Classes */

.section-cards {
    display: grid;
    grid-template-columns: 75% auto;
}

.profile {
    height: 10rem;
    width: auto;
}

.flag {
    height: 6rem;
    width: auto;
}

.title {
    padding: 2rem;
    display: block;
    text-align: center;
    font-size: larger;
    background-color: var(--primary-color);
    color: white;
}

.navigation {
    padding: 1rem;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(19, 19, 19);
    color: white;
}

.nav {
    padding: .75rem;
    margin: .75rem;
}

