* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

footer p {
    margin: 0.5rem 0;
}

footer {
    padding: 2rem;
    display: flex; 
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    background-color: var(--primary-color);
    color: black;
}

.form fieldset {
    margin: 2rem 0;
    border: none;
    padding: .5rem 2%;
}

.form legend {
    color: black;
}

.form label {
    display: block;
    padding-top: 1rem;
  
}

.form input[type="text"],
.form input[type="date"],
.form select
{
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    background-color: white;
    appearance: none;
}

.form input[type="radio"],
.form input[type="checkbox"] {
    margin-right: 6px;
}

.form input[type="submit"] {
    border: none;
    background-image: linear-gradient(#132a9c, #250e6f);
    color: #fff;
    border-radius: 6px;
    padding: 6px;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}



.form input:required {
    border-left: solid 4px red;
}

.form input:required:valid {
    border-left: solid 4px green;
}

h1 {
    background-color: #132a9c;
    color: white;
    padding: 15px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

footer {
    background-color: #132a9c;
    color: white;
    width: 50%;
    margin: 0 auto;
}

textarea {
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    height: 100px;
    background-color: white;
    appearance: none;
}

.form {
    background-color: rgb(198, 231, 242);
    padding: 15px;
    width: 50%;
    margin:  0 auto;   
}
.radio-group {
    display: flex;
    gap: 20px;
}

.radio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.radio-item label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter {
    padding: 15px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    background-color: rgb(198, 231, 242);
    padding-bottom: 150px;
}

.counter p {
    font-size: 1.5rem;
    padding-top: 50px;
}