@media screen and (min-width: 500px) {

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: var(--primary-color);
        color: white;
    }
    .navigation a {
        padding: 0 1.5rem;
    }
    .navigation {
        padding: 1rem;
        justify-content: space-evenly;
    }
    .nav {
        padding: .75rem;
        margin: .75rem;
        display: flex;
    }

    .pics {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #menu {
		display: none;
    }

    .linkNav li {
	    display: inline-block;
    }
}

@media screen and (min-width: 800px){

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: var(--primary-color);
        color: white;
    }
    .navigation a {
        padding: 0 1.5rem;
    }
    .navigation {
        padding: 1rem;
        justify-content: space-evenly;
    }
    .nav {
        padding: .75rem;
        margin: .75rem;
        display: flex;
    }

    .pics {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


    #menu {
		display: none;
    }

}
